## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Data Ingestion

In [2]:
car_df = pd.read_csv("data/CAR DETAILS FROM CAR DEKHO.csv")

In [3]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [4]:
# create new df for original info
car_info_df = car_df.copy()

In [5]:
car_info_df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

## Data Cleaning I: Transformation

In [6]:
# convert fuel to boolean variable
fuel_df = pd.get_dummies(car_df.fuel)

# rename to indicate category
fuel_df.columns = [x.lower()+"_fuel" for x in fuel_df.columns]

# add boolean category variables to car_df
car_df = car_df.merge(fuel_df, left_index=True, right_index=True)
car_df = car_df.drop(columns=["fuel"])

In [7]:
# convert seller_type to boolean variable
sell_df = pd.get_dummies(car_df.seller_type)

# rename to indicate category
sell_df.columns = ["_".join(x.lower().split())+"_sell" for x in sell_df.columns]

# add boolean category variables to car_df
car_df = car_df.merge(sell_df, left_index=True, right_index=True)
car_df = car_df.drop(columns=["seller_type"])

In [8]:
# convert transmission to boolean variable
tran_df = pd.get_dummies(car_df.transmission)

# rename to indicate category
tran_df.columns = [x.lower() for x in tran_df.columns]

# add boolean category variables to car_df
car_df = car_df.merge(tran_df, left_index=True, right_index=True)
car_df = car_df.drop(columns=["transmission"])

In [9]:
# convert owner to boolean variable
own_df = pd.get_dummies(car_df.owner)

# rename to indicate category
own_df.columns = ["_".join(x.lower().split()) for x in own_df.columns]

# add boolean category variables to car_df
car_df = car_df.merge(own_df, left_index=True, right_index=True)
car_df = car_df.drop(columns=["owner"])

In [10]:
car_df.head()

,name,year,selling_price,km_driven,cng_fuel,diesel_fuel,electric_fuel,lpg_fuel,petrol_fuel,dealer_sell,individual_sell,trustmark_dealer_sell,automatic,manual,first_owner,fourth_&_above_owner,second_owner,test_drive_car,third_owner
0,Maruti 800 AC,2007,60000,70000,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
1,Maruti Wagon R LXI Minor,2007,135000,50000,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
2,Hyundai Verna 1.6 SX,2012,600000,100000,False,True,False,False,False,False,True,False,False,True,True,False,False,False,False
3,Datsun RediGO T Option,2017,250000,46000,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
4,Honda Amaze VX i-DTEC,2014,450000,141000,False,True,False,False,False,False,True,False,False,True,False,False,True,False,False

In [11]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   4340 non-null   object
 1   year                   4340 non-null   int64
 2   selling_price          4340 non-null   int64
 3   km_driven              4340 non-null   int64
 4   cng_fuel               4340 non-null   bool
 5   diesel_fuel            4340 non-null   bool
 6   electric_fuel          4340 non-null   bool
 7   lpg_fuel               4340 non-null   bool
 8   petrol_fuel            4340 non-null   bool
 9   dealer_sell            4340 non-null   bool
 10  individual_sell        4340 non-null   bool
 11  trustmark_dealer_sell  4340 non-null   bool
 12  automatic              4340 non-null   bool
 13  manual                 4340 non-null   bool
 14  first_owner            4340 non-null   bool
 15  fourth_&_above_owner   4340 non-null   bool
 16  second_owner           4340 non-null   bool
 17  test_drive_car         4340 non-null   bool
 18  third_owner            4340 non-null   bool
dtypes: bool(15), int64(3), object(1)
memory usage: 199.3+ KB

## Data Cleaning 2: Normalization

In [12]:
norm_cols = ["year", "km_driven"]

for col in norm_cols:
    car_df[col] = (
        (car_df[col] - car_df[col].min()) / (car_df[col].max() - car_df[col].min())
    )

In [13]:
car_df.head()

,name,year,selling_price,km_driven,cng_fuel,diesel_fuel,electric_fuel,lpg_fuel,petrol_fuel,dealer_sell,individual_sell,trustmark_dealer_sell,automatic,manual,first_owner,fourth_&_above_owner,second_owner,test_drive_car,third_owner
0,Maruti 800 AC,0.535714,60000,0.086783,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
1,Maruti Wagon R LXI Minor,0.535714,135000,0.061988,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
2,Hyundai Verna 1.6 SX,0.714286,600000,0.123976,False,True,False,False,False,False,True,False,False,True,True,False,False,False,False
3,Datsun RediGO T Option,0.892857,250000,0.057028,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
4,Honda Amaze VX i-DTEC,0.785714,450000,0.174807,False,True,False,False,False,False,True,False,False,True,False,False,True,False,False

## Model Training and Testing

In [14]:
features_lst = [x for x in car_df.columns if x not in ["name", "selling_price"]]
Xs = car_df[features_lst]
Xs.head()

,year,km_driven,cng_fuel,diesel_fuel,electric_fuel,lpg_fuel,petrol_fuel,dealer_sell,individual_sell,trustmark_dealer_sell,automatic,manual,first_owner,fourth_&_above_owner,second_owner,test_drive_car,third_owner
0,0.535714,0.086783,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
1,0.535714,0.061988,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
2,0.714286,0.123976,False,True,False,False,False,False,True,False,False,True,True,False,False,False,False
3,0.892857,0.057028,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False
4,0.785714,0.174807,False,True,False,False,False,False,True,False,False,True,False,False,True,False,False

In [15]:
y = car_df.selling_price
y.head()

0     60000
1    135000
2    600000
3    250000
4    450000
Name: selling_price, dtype: int64

In [16]:
X_train, X_test, y_train, y_test = train_test_split(Xs, y, test_size=0.2, random_state=31337)

In [17]:
model = LinearRegression()

In [18]:
model.fit(X_train, y_train)

LinearRegression()

In [19]:
# print intercept
print("Intercept:", model.intercept_)

Intercept: -5.9287624065951015e+19

In [20]:
# print coefficients
coeffs_df = pd.DataFrame({'feature': X_train.columns, 'coefficient': model.coef_})
coeffs_df["coefficient_abs"] = abs(coeffs_df["coefficient"])
coeffs_df = coeffs_df.sort_values(by=["coefficient_abs"], ascending=False)
coeffs_df = coeffs_df.drop(columns=["coefficient_abs"])
coeffs_df

                  feature   coefficient
10              automatic  5.353121e+19
11                 manual  5.353121e+19
15         test_drive_car  6.369712e+18
12            first_owner  6.369712e+18
16            third_owner  6.369712e+18
13   fourth_&_above_owner  6.369712e+18
14           second_owner  6.369712e+18
8         individual_sell -1.311404e+18
7             dealer_sell -1.311404e+18
9   trustmark_dealer_sell -1.311404e+18
3             diesel_fuel  6.981098e+17
2                cng_fuel  6.981098e+17
6             petrol_fuel  6.981098e+17
5                lpg_fuel  6.981098e+17
4           electric_fuel  6.981098e+17
0                    year  9.288322e+05
1               km_driven -8.429841e+05

In [21]:
predictions = model.predict(X_test)

In [22]:
# create df to compare predicted values with actual
compare_df = pd.DataFrame(predictions, columns=["y_predict"])
compare_df.index = y_test.index

# add column for actual
compare_df["y_actual"] = y_test
compare_df

      y_predict  y_actual
2728   335872.0    450000
251    466944.0    625000
1450   -90112.0     60000
1683   565248.0    430000
3646    73728.0    229999
...         ...       ...
2430   647168.0    595000
965    516096.0    250000
1978   401408.0    280000
3421  1482752.0    600000
1575   532480.0    300000

[868 rows x 2 columns]

In [23]:
# calculate MSE and RMSE
compare_df["sq_err"] = (compare_df["y_actual"] - compare_df["y_predict"])**2
mse = compare_df["sq_err"].mean()
rmse = mse**0.5
print("MSE:", mse, "----", "RMSE", rmse)

MSE: 118418142186.03917 ---- RMSE 344119.37200053

In [25]:
# examine feature values to gain insights about model performance
compare_feats_df = compare_df.merge(car_df, left_index=True, right_index=True)
compare_feats_df.head()

,y_predict,y_actual,sq_err,name,year,selling_price,km_driven,cng_fuel,diesel_fuel,electric_fuel,...,dealer_sell,individual_sell,trustmark_dealer_sell,automatic,manual,first_owner,fourth_&_above_owner,second_owner,test_drive_car,third_owner
2728,335872.0,450000,1.302520e+10,Hyundai Xcent 1.2 Kappa SX,0.857143,450000,0.043391,False,False,False,...,False,True,False,False,True,False,False,True,False,False
251,466944.0,625000,2.498170e+10,Maruti Baleno Alpha 1.2,0.892857,625000,0.064467,False,False,False,...,True,False,False,False,True,True,False,False,False,False
1450,-90112.0,60000,2.253361e+10,Daewoo Matiz SD,0.357143,60000,0.061988,False,False,False,...,False,True,False,False,True,True,False,False,False,False
1683,565248.0,430000,1.829202e+10,Maruti Swift Dzire LDI,0.821429,430000,0.090502,False,True,False,...,False,True,False,False,True,False,False,False,False,True
3646,73728.0,229999,2.442063e+10,Toyota Innova 2.5 G (Diesel) 8 Seater BS IV,0.500000,229999,0.371931,False,True,False,...,False,True,False,False,True,True,False,False,False,False

In [29]:
compare_feats_df[["lpg_fuel", "petrol_fuel"]].head()

      lpg_fuel  petrol_fuel
2728     False         True
251      False         True
1450     False         True
1683     False        False
3646     False        False